[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "indonesiaFootballScoutR"]
	path = indonesiaFootballScoutR
	url = https://github.com/tioanta/indonesiafootballscoutr
